In [1]:
print (' Hello world ')

 Hello world

In [3]:
print("Hello world")

Hello world

In [5]:
print('Hello world")

SyntaxError: unterminated string literal (detected at line 1) (3109347247.py, line 1)

In [7]:
print (' Hello world ')
print (' welcome ')
print (' Good Bye ')

 Hello world
 welcome
 Good Bye

In [9]:
print (' Hello world ')
print (" welcome ")
print (' Good Bye ')

 Hello world
 welcome
 Good Bye

In [11]:
print (' Hello world ')
print (" welcome ")
print (' Good Bye ')

 Hello world
 welcome
 Good Bye

In [13]:
num 1 = 45
num 2 = 55
print (add)

SyntaxError: invalid syntax (3927885826.py, line 1)

In [15]:
num 1 = 45
num 2 = 55
add = num1 + num2
print (add)

SyntaxError: invalid syntax (3073487360.py, line 1)

In [17]:
num1 = 45
num2 = 55
add = num1 + num2
print(add)

100

In [19]:
a = 1000
b = 20000

add = a + b
print add

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2971029673.py, line 5)

In [21]:
a = 1000
b = 20000

add = a + b
 add

IndentationError: unexpected indent (3303182883.py, line 5)

In [25]:

a = 1000
b = 20000

add = a + b
print (add)

21000

In [27]:
a = 5000
b = 2000
c = a - b
sub

NameError: name 'sub' is not defined

In [29]:
a = 5000
b = 2000
sub = a - b
sub

3000

In [31]:
a = 5000
b = 1000
mul = a * b
mul

5000000

In [33]:
pass = 1000

SyntaxError: invalid syntax (2101309248.py, line 1)

In [35]:
num1 = 56
type(num1)

int

print(a)

In [54]:
num1=56.36
type(num1)

float

In [42]:
num3=78.66666
type(num3)

float

In [50]:
text = "1"

In [46]:
type(text)

str

In [52]:
name = 'manju'
type(name)

str

In [56]:
a = 5000
b = 2000
c = a - b
sub

3000

In [58]:
num1=56.36

In [60]:
type(num1)

float

In [62]:
a = 1000
b=50.35
add = a +  b
add
type(add)

float

In [70]:
num1, num2, num3 = 67, 'Hello',29.46
print(num1)

67

In [72]:
print(num2)

Hello

In [74]:
print(num3)

29.46

In [76]:
print(num1,num2,num3)

67 Hello 29.46

In [78]:
num1 = num2 = num3 =67
print(num1)

67

In [80]:
print(num2)

67

In [82]:
print(num3)

67

In [84]:
name  = "Manju"
Marks = 75.50
print('My name is' , name)

My name is Manju

In [86]:
print("My marks are", Marks)

My marks are 75.5

In [88]:
print('My name is', name , 'and marks are:', Marks )

My name is Manju and marks are: 75.5

In [90]:
print('My name is', name , "My marks are:", Marks)

My name is Manju My marks are: 75.5

In [92]:
print('My name is'and My marks are : %f' %(name, Marks))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2072844715.py, line 1)

In [94]:
print('My name is and My marks are : %f' %(name, Marks))

TypeError: must be real number, not str

In [96]:
print('My name is %s and My marks are : %f' %(name, Marks))

My name is Manju and My marks are : 75.500000

In [98]:
print ('My name is %s and my marks are : %f' %(name,marks))

NameError: name 'marks' is not defined

In [100]:
print ('My name is %s and my marks are : %f' %(name,Marks))

My name is Manju and my marks are : 75.500000

In [102]:
print ('My name is %s and my marks are : %.1f' %(name,marks))

NameError: name 'marks' is not defined

In [104]:
print ('My name is %s and my marks are : %.1f' %(name,Marks))

My name is Manju and my marks are : 75.5

In [106]:
print ('My name is %s and my marks are : %i' %(name,Marks))

My name is Manju and my marks are : 75

In [108]:
num1 = 45
num2 = 55
add = num1 + num2
print('Addition is:', add)

Addition is: 100

In [110]:
# This is my first program 
num1 = 45   # Number 1 
num2 = 55   # Number 2
add = num1 + num2 # perform addition
print('Addition is:', add)

Addition is: 100

In [112]:
num1 = 45; num2 = 55 ; add = num1 + num2 ; print('Addition is:', add)

Addition is: 100

####Opertors

In [117]:
### Opertors

### Opertors

#### Opertors

###### Opertors

In [126]:
num1 = 67
num2 = 19

In [132]:
# Arimetic opertors
add = num1 + num2 # Addition
print('addition is:', add) 
print('Subtraction is:', num1 - num2) # subtraction
print('Multiplication is:', num1 * num2) # multiplication
print('Division is:', num1/num2)   # Division
print('Floor Division is', num1//num2) # Floor
print('Modulo Division is', num1%num2) # modulo division
print('Raised to:', num1**num2)  # power

addition is: 86
Subtraction is: 48
Multiplication is: 1273
Division is: 3.526315789473684
Floor Division is 3
Modulo Division is 10
Raised to: 49593099428404263766544428188098203

In [140]:
# assignment operator

Num1 = 67 
num1 += 2
num1 -= 2
print(num1)

69

In [162]:
# assignment operator

num1 = 67 
num1 += 2
num1 -= 2
num1 /=2
num1 *=2
num1 //=2
num1 %=2
num1 **=2
print(num1)

1.0

In [166]:
num1 = 67
print(num1)

67

In [170]:
num1 +=2
print(num1)

71

In [172]:
num1 -=2
print(num1)

69

In [174]:
num1 /=2
print(num1)

34.5

In [176]:
num1 *=2
print(num1)

69.0

In [178]:
num1 //=2
print(num1)

34.0

In [180]:
num1 %=2
print(num1)

0.0

In [182]:
num1 **=2
print(num1)

0.0

In [188]:
name = "manju"
name *=4
print (name)

manjumanjumanjumanju

mchar = 0
mchar1 = 0
print ("value =",mchar == mchar1)

In [190]:
# logical Operators
num1= 67
num2= 19
print('AND:', (num1 > num2) and ( num1 < 100))

AND: True

In [198]:
print('OR:', (num1 > num2) or ( num1 > 100))

OR: True

In [202]:
mchar = 0
mchar1 = 0
print ("value =",mchar == mchar1)

value = True

In [206]:
mchar = 0
mchar1 = 0
print ("value =",mchar == mchar1)

value = True

In [208]:
# Membership selection
name = 'Manju'
'u' in name

True

In [210]:
x = [5,4,2,5,6,7]
9 in x

False

In [212]:
19 not in x

True

In [214]:
x = [5,4,'Pune',5,6,7]
Mumbai in x

NameError: name 'Mumbai' is not defined

In [216]:
x = [5,4,'Pune',5,6,7]
'Mumbai' in x

False

In [220]:
x = [5,4,'Pune',5,6,7]
'Pune' in x

True

In [222]:
#### user input
num = input('Enter the number: ')
print('You have entered', num)

Enter the number:  89

You have entered 89

In [224]:
type(num)

str

In [226]:
num = input('Enter the number: ')
print('You have entered', num)

Enter the number:  mandadfhfh

You have entered mandadfhfh

In [236]:
num = input('Enter the number: ')
print('You have entered', num)
type(num)

Enter the number:  767676.889

You have entered 767676.889

str

In [238]:
num = input('Enter the number: ')
result = num * 3 
print('You have entered', result)

Enter the number:  100

You have entered 100100100

In [240]:
num = int(input('Enter the number: '))
result = num * 3 
print('You have entered', result)

Enter the number:  100

You have entered 300

In [242]:
num = float (input('Enter the number: '))
result = num * 3 
print('You have entered', result)

Enter the number:  100.25

You have entered 300.75

In [244]:
num1 = int (input('Enter first  number: '))
num2 = int (input('Enter first  number: '))
add = num1 + num2 
print('Addition is', add)

Enter first  number:  100
Enter first  number:  200

Addition is 300

In [246]:
num1 = int (input('Enter first  number: '))
num2 = int (input('Enter first  number: '))
mul = num1 * num2 
print('Multiplication is', mul)

Enter first  number:  100
Enter first  number:  100

Multiplication is 10000

In [248]:

num1 = int (input('Enter value of c: '))
f = num1* 1.8 + 32
print ( 'f', f)

Enter value of c:  100

f 212.0

In [250]:
num1 = int (input('Enter value of c: '))
f = num1* 1.8 + 32
print ( 'f', f)

Enter value of c:  37

f 98.60000000000001

In [252]:
num1 = int (input('Enter value of c: '))
f = num1* 1.8 + 32
print ( 'f', f)

Enter value of c:  -14

f 6.800000000000001

 num1 = int (input('Enter value of c: '))
f = num1* 1.8 + 32
print ( 'f', f)

In [256]:
num1 = int (input( 'Enter value of c: '))
f = num1* 1.8 + 32
print ( 'f', f)

Enter value of c:  -40

f -40.0