In [5]:
#### simple functions

def show():
    print("I am manjunatha")
    print("Good bye")
show()
show()

I am manjunatha
Good bye
I am manjunatha
Good bye

In [7]:
### parameterized functions

def square(n):
    sq = n *n
    print(sq)

In [9]:
square(9)

81

In [11]:
def sqaure(n):
    sq = n * n
    print(sq)

In [13]:
sqaure(1000)

1000000

In [15]:
### Returning the values
def compare(x,y):
    if x > y:
        return x
    else:
        return y

In [19]:
t= compare(5,7)
t

7

In [21]:
 5 * compare(4,8)

40

In [23]:
def calc(num):
    sq =  num * num
    cu = sq * num
    return sq, cu

In [29]:
print('square and cube are', calc(3))

square and cube are (9, 27)

In [33]:
x , y  = calc(9)
print('suare and cuba:',x,y)

suare and cuba: 81 729

In [35]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [37]:
### Default parameters
def add(x=5, y=7, z=3):
    a= x + y + z
    return a

In [53]:
print('Call-1', add(4,6,2))

Call-1 12

In [55]:
print('Call-2', add(4,6))

Call-2 13

In [49]:
print('Call-1', add(4))

Call-1 14

In [51]:
print('Call-1', add())

Call-1 15

In [57]:
print('Call-1', add(y=4))

Call-1 12

In [59]:
print('Call-5', add(z=10))

Call-5 22